<div class="con"><h1>Edit Question</h1>
<%= render 'form', question: @question %>
</div>
  
 <style>
	.con{
		margin-top: 100px;
		display:flex;
		flex-direction: column;
		align-items: center;
	}
</style>
