
  <title>Physical Examination Completed</title>
</head>
  <h1 style="color: #2c3e50;">Dear <%= @donor.first_name %> <%= @donor.last_name %>,</h1>

  <p>We are pleased to inform you that your physical examination has been successfully completed. Thank you for your cooperation.</p>
  <p> Thank you for taking part in this Blood Donation </p>
  <p>If you have any further questions or concerns, please feel free to contact us.</p>

  <p>Best regards,</p>
  <p>The Capivis Team</p>
</body>
</html>
