<h1>Thank you for submitting your responses, <%= @user.email %>!</h1>

<p>Your responses have been successfully recorded. If you have any questions, please feel free to reach out to us.</p>

<p>Best regards,</p>
<p>Capivis App Team</p>
