<p>Hello,</p>

<p>You have received a new message from <strong><%= @message.name %></strong>.</p>

<p><strong>Email:</strong> <%= @message.email %></p>
<p><strong>Message:</strong></p>
<p><%= @message.message %></p>

<p>Sent at: <%= @message.created_at.strftime("%B %d, %Y %I:%M %p") %></p>

<p>Best regards,</p>
<p>Your Application Team</p>
