<div class= 'con'>
	<h1>Edit Centre</h1>
<%= render 'form' %>
</div>
<style>
	.con{
		margin-top: 100px;
		display:flex;
		flex-direction: column;
		align-items: center;
	}
	h1{
		text-align: center;
	}
</style>
